body {
    padding-top: 20px;
}


a.pseudo-link {
    border-bottom: 1px dotted;
    text-decoration: none !important;
}

.td-list-action {
    width: 14px;
}

form {
    margin: 0;
}
.quick-link-container {
    margin: 20px 0 0;
}
#itemsList {
    margin: 40px 0 0;
}


.filter-save-container:not(.is-active) .input-append,
.filter-save-container.is-active .save-filter-request {display: none;}

.label {cursor: pointer;}
.label .icon-remove {margin-left: 7px;}