body {
    padding-top: 60px;
}


a.pseudo-link {
    border-bottom: 1px dotted;
    text-decoration: none !important;
}

.td-list-action {
    width: 14px;
}

form {
    margin: 0;
}
.quick-link-container {
    margin: 20px 0 0;
}
#itemsList {
    margin: 40px 0 0;
}


.filter-save-container:not(.is-active) .input-append,
.filter-save-container.is-active .save-filter-request {display: none;}

.label {cursor: pointer;}
.label .icon-remove {margin-left: 7px;}

.pagination ul {margin-right: 7px;}
.pagination-total {
    display: inline-block;
    padding: 5px 0;
    vertical-align: top;
    font-size: 12px;
    line-height: 20px;
}

.autocomplete-suggestions {
    background: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.autocomplete-suggestion {
    cursor: pointer;
    padding: 4px 6px;
}